@{
    ViewBag.Title = "Report";
}
<div class="row">
<div class="jumbotron bg-info col-md-6">
    <h1>ASN Report</h1>
    <form>
        <label class="text-info control-label col-md-12">SKU Code</label>
        <input type="text" class="form-control col-md-3" />
        <label class="text-info control-label col-md-12">ASN Status</label>
        <select class="form-control col-md-3"></select>
        <label class="text-info control-label col-md-12">Start Date</label>
        <input type="text" class="form-control col-md-3" placeholder="mm/dd/yyyy" />
        <label class="text-info control-label col-md-12">End Date</label>
        <input type="text" class="form-control col-md-3" placeholder="mm/dd/yyyy" />
        <input type="button" class="btn btn-primary" value="Download" />
    </form>

</div>
<div class="jumbotron bg-info col-md-6">
    <h1>Sales Order Report</h1>
    <form>
        <label class="text-info control-label col-md-12">SKU Code</label>
        <input type="text" class="form-control col-md-3" />
        <label class="text-info control-label col-md-12">Start Date</label>
        <input type="text" class="form-control col-md-3" placeholder="mm/dd/yyyy" />
        <label class="text-info control-label col-md-12">End Date</label>
        <input type="text" class="form-control col-md-3" placeholder="mm/dd/yyyy" />
        <input type="button" class="btn btn-primary" value="Download" />
    </form>

</div>

    </div>